.container{
    text-align:center;
}
.main-form-heading{
    background-color:rgb(255,0,0);
    color:rgb(255,0,0);
}
  
.background-image {
    background-image: url('/img/bloody3.jpg');
    background-color:cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 110%;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    width: 108%;
    height: 104%;
    z-index: -1;
  }