
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(255, 0, 0);
            margin: 0;
            padding: 0;
        }

        #main-form-heading {
            color: rgb(255, 0, 0);
            background-color: dark red;
            text-align: center;
            letter-spacing: 0.5px;
            width: 50%;
            margin: 0 auto;
            margin-bottom: 20px; /* Add some margin below the heading */
            border-radius: 10px; /* Add border radius */
            padding: 10px; /* Add padding */
        }
        a{
            color: white;
        }
        .container {
            margin: 0 auto;
            width: 80%;
        }

        .btn-container {
            text-align: center;
            margin-bottom: 20px; /* Add some margin below the buttons */
        }

        .btn-container button {
            margin-right: 10px; /* Add some space between buttons */
        }
        
        